DB_HOST=localhost
DB_NAME=personal_page
DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3306
SYNCHRONIZE=TRUE

PORT_SERVER=3000
JWT_SECRET=llave_jwt
JWT_EXPIRATION=2h

CLOUDINARY_CLOUD_NAME=cloudinary
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret